body {
    max-width: 1080px;
    margin: auto;
    background: #f5fcfe;
    /* font-style: normal; */
    font-family: sans-serif; 
}

header h1 {
	text-align: center;
}

.card,
.info,
.card-2 {
	/*border: solid 1px; */
    background-color: #ea987c;
    margin: 20px; 
    padding: 15px
}

.info {
	display: flex;
}

.photo {
	margin-right: 10px;
}

.about-one {
	border-left: 2px solid #000;
    padding-left: 10px;
}

.about-one h3 {
	margin: 15px 0 5px 0;
}

.about-one:first-child h3 {
	margin: 5px 0 5px 0;
}

.about-one p {
	margin: 0;
}

.card h2,
.card-2 h2 {
	margin: 0 0 10px;
}

.card-2 {
	width: calc(50% - 62px);
	display: inline-block;
	margin: 0 0 0 20px;
	vertical-align: top
}

.card-2:last-child {
	margin: 0 0 0;
}

.contact {
	display: inline-block;
	width: 24%;
}